@model CollegeStarterPack.Domain.Entity.Slider

<li>
    <img src="@Url.Content("/Content/Template/")@Model.SImageUrl" alt="" style="height:400px;
min-height:     400px;
line-height:    400px;" />
    <div class="intro">
        <h1>@Model.STitle</h1>
        <p><span>@Model.SDescription</span></p>
        <p><span>@Model.SDescription</span></p>
    </div>
</li>

